.footer {
  cursor: default;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 200px;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border: 2px solid #ffffff80;
  text-shadow: 2px 2px 2px black;

  background: rgb(255, 255, 255);
  background: rgba(150, 150, 150, 0.589);
  &-title {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
  }
  &-list {
    display: flex;
    justify-content: space-between;
    & li {
      height: 57px;
      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }
  &-link {
    display: block;
    height: inherit;
    padding: 15px;
    color: #ffffff;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: color 250ms linear, border 250ms linear;
    background-color: #00000044;
    &:hover {
      color: #ffffffa8;
      border: 1px solid #ffffffa8;
    }
    &:active {
      color: #ffffff86;
      border: 1px solid #ffffff86;
    }
    & svg {
      width: 25px;
      height: 25px;
    }
    &__icon {
      fill: currentColor;
    }
  }
  &-descr {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    &-title {
      font-size: 20px;
      margin-bottom: 14px;
    }
    &-list {
      & li {
        height: 65px;
        &:not(:last-child) {
          margin-right: 66px;
        }
      }
    }
    &-link {
      & svg {
        width: 35px;
        height: 35px;
      }
      &__icon {
      }
    }
    &-descr {
      font-size: 16px;
      margin-top: 14px;
    }
  }
}
