.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 200px;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border: 2px solid #ffffff80;

  background: rgb(255, 255, 255);
  background: linear-gradient(
    81deg,
    rgba(228, 228, 228, 0.401) 0%,
    rgba(94, 94, 94, 0.757) 33%,
    rgba(145, 145, 145, 0.678) 50%,
    rgba(78, 78, 78, 0.816) 58%,
    rgba(214, 214, 214, 0.642) 80%,
    rgba(139, 139, 139, 0.39) 100%
  );
  animation: gradient 25s infinite linear;
  background-size: 800%;

  &-title {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
  }
  &-list {
    display: flex;
    justify-content: space-between;
    & li {
      height: 57px;
      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }
  &-link {
    display: block;
    height: inherit;
    padding: 15px;
    color: #ffffff;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: color 250ms linear, border 250ms linear;
    background-color: #00000044;
    &:hover {
      color: #ffffffa8;
      border: 1px solid #ffffffa8;
    }
    &:active {
      color: #ffffff86;
      border: 1px solid #ffffff86;
    }
    & svg {
      width: 25px;
      height: 25px;
    }
    &__icon {
      fill: currentColor;
    }
  }
  &-descr {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    &-title {
      font-size: 20px;
      margin-bottom: 14px;
    }
    &-list {
      & li {
        height: 65px;
        &:not(:last-child) {
          margin-right: 66px;
        }
      }
    }
    &-link {
      & svg {
        width: 35px;
        height: 35px;
      }
      &__icon {
      }
    }
    &-descr {
      font-size: 16px;
      margin-top: 14px;
    }
  }
}
@media screen and (min-width: 1200px) {
}

@keyframes gradient {
  0% {
    background-position: 80% 0%;
  }
  25% {
    background-position: 60% 50%;
  }
  50% {
    background-position: 40% 100%;
  }
  75% {
    background-position: 60% 50%;
  }
  100% {
    background-position: 80% 0%;
  }
}
