.nav {
  &_block {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
  }
  &_link {
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: rgb(214, 214, 214);
    background-color: #ffffff4b;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 8px 14px,
      rgba(255, 255, 255, 0.1) 0px 16px 56px,
      rgba(255, 255, 255, 0.1) 0px 14px 40px;

    transition: box-shadow 450ms linear;
    &:hover {
      box-shadow: rgba(255, 255, 255, 0.452) 0px 8px 14px,
        rgba(255, 255, 255, 0.295) 0px 16px 26px,
        rgba(255, 255, 255, 0.212) 0px 14px 40px;
    }
    &:active {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
    &:not(:last-child) {
      margin-right: 4px;
    }
  }
}

.active {
  text-shadow: 1px 1px 3px black;
  font-weight: bold;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  background-color: #ffffff94;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 8px 14px,
    rgba(255, 255, 255, 0.1) 0px 16px 56px,
    rgba(255, 255, 255, 0.1) 0px 14px 40px;

  transition: box-shadow 450ms linear;
  &:hover {
    box-shadow: rgba(255, 255, 255, 0.452) 0px 8px 14px,
      rgba(255, 255, 255, 0.295) 0px 16px 26px,
      rgba(255, 255, 255, 0.212) 0px 14px 40px;
  }
  &:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
  &:not(:last-child) {
    margin-right: 4px;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    &_block {
      display: flex;
      justify-content: space-evenly;
      font-size: 16px;
    }
    &_link {
      padding: 15;
      border: 3px solid #fff;
    }
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    &_block {
      margin-top: 30px;
      margin-bottom: 30px;
      display: flex;
      justify-content: space-evenly;
      font-size: 18px;
    }
    &_link {
      padding: 20;
      border: 2px solid #fff;
    }
  }
}
